// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Surcharge bootstrap style:
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0c9155;
    --bs-btn-border-color: #0c9155;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #10b068;
    --bs-btn-hover-border-color: #0c9155;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0c9155;
    --bs-btn-active-border-color: #0c9155;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0c9155;
    --bs-btn-disabled-border-color: #0c9155;
}
.form-select:focus {
    border-color: rgb(36, 154, 104);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(36, 154, 104, 0.26);
}
.form-control:focus {
    border-color: rgb(36, 154, 104);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(36, 154, 104, 0.26);
}
select option:hover {
    background-color: #0c9155;
    color: white;
}

.form-check-input:checked {
    background-color: #249a68;
    border-color: #249a68;
}

.form-check-input[type=checkbox]:indeterminate {
    background-color: #249a68;
    border-color: #249a68;
}
