/*Changer style datatable ici !important*/
.page-link.active, .active > .page-link {
    background-color: #0c9155;
    border-color: #0a7a48;
}
.page-link.active, .active > .page-link button{
    outline: none;
}
.page-link {
    color: #0c9155;
}

label[for="dt-length-0"] {
    display: none !important;
}
label[for="dt-length-1"] {
    display: none !important;
}
/*cursor pointer for sorting*/
th.dt-orderable-asc,
th.dt-orderable-desc {
    cursor: pointer;
}

th.dt-orderable-none {
    cursor: default;
}

/*File table*/

th[data-label="Delete"],
td[data-label="Delete"] {
    max-width: 3rem !important;
    text-align: center;
}

th[data-label="Rev"],
td[data-label="Rev"] {
    min-width: 3rem !important;
    width: 3rem;
    text-align: center;
}
th[data-label="Type"],
td[data-label="Type"] {
    /*white-space: nowrap; !* Empêche le retour à la ligne *!*/
    /*overflow: hidden; !* Cache tout dépassement *!*/
    /*text-overflow: ellipsis; !* Ajoute ... si besoin *!*/
    min-width: 8rem !important;
}


th[data-label="Validé"],
td[data-label="Validé"] {
    /*max-width: 5rem !important;*/
    text-align: center;
    width: 2rem;
}
th[data-label="Commentaire"],
td[data-label="Commentaire"] {
    min-width: 10rem !important;
    max-width: 15rem !important;
    text-align: center;
}

th[data-label="Date"],
td[data-label="Date"] {
    max-width: 7rem !important;
}

th[data-label="Déposé par"],
td[data-label="Déposé par"] {
    max-width: 10rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th[data-label="Nom"],
td[data-label="Nom"] {
    max-width: 40rem !important;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


th[data-label="Télécharger"],
td[data-label="Télécharger"] {
    min-width: 2.5rem !important;
    text-align: center;
}
th[data-label="Distribuer"],
td[data-label="Distribuer"] {
    min-width: 2.5rem !important;
    text-align: center;
}

th[data-label="Impressions"],
td[data-label="Impressions"] {
    min-width: 2.5rem !important;
    text-align: center;
}
/*Home table*/
th[data-label="Check"],
td[data-label="Check"] {
    max-width: 3rem !important;
    text-align: center;
}

th[data-label="ActionsH"],
td[data-label="ActionsH"] {
    min-width: 9rem !important;
    text-align: center;
}
th[data-label="Referent"],
td[data-label="Referent"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th[data-label="NomLong"],
td[data-label="NomLong"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th[data-label="Action"],
td[data-label="Action"] {
    min-width: 5rem !important;
    text-align: center;
}

th[data-label="phone"],
td[data-label="phone"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
