.items-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

}

.group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dt-nowrap {
    white-space: nowrap;
}
div.dt-scroll-body thead {
    display: none !important;
}

div.dt-scroll-head thead {
    display: table-header-group !important;
}
.table {
    margin-bottom: 0;
}

div.dt-scroll-body {
    transform: rotateX(180deg);
    overflow-x: scroll !important;
    overflow-y: hidden;
}

div.dt-scroll-body table {
    transform: rotateX(180deg);
}

@media (max-width: 768px) {

    .flex{
        flex-direction: column;
    }

    body{
        font-size: 13px !important;
    }

    .button-container{
        flex-direction: column;
        gap: 1rem;
    }

    .container-page{
        min-width: unset;
        max-width: 100%;
    }

    .min-width {
        min-width: unset;
    }
    .items-container {
        flex-direction: column-reverse;
    }

    .generate{
        display: none;
    }

    .form-select{
        width: unset;
    }
}
