body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.container{
    min-width: 55rem;
}
.py-4{
    display: flex;
    justify-content: center;
}
.container-page {
    background-color: #fff;
    padding: 1.25rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
.container-profile {
    background-color: #fff;
    padding: 1.25rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 3.125rem;
    max-width: 37.5rem;
    min-width: 25rem;
}
.min-width{
    min-width: 37.5rem;
}

.project{
    min-width: 90rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.information {
    margin-top: 0.625rem;
    color: #0c9155;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 11.25rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 0.313rem;
    padding: 0.313rem;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.85rem;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.313rem;
    border-width: 0.313rem;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*field container*/

.field-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.field-container span, .field-container input {
    flex: 1;

}
.field-container input {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    padding: 0;
    border: none;
    border-bottom: #ccc 2px solid;
}
.field-container input:focus {
    outline: none;
}
.field-container button {
    margin-right: 10px;
    border: none;
    cursor: pointer;
}


.logout{
    display: flex;
    margin: 0;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}

.logout input{
    width: 20rem;
    background-color: #be1212;
    transition: 0.4s ease;
    margin: 0;
    height: 3rem;
    margin: auto;
}
.logout input:hover{
    background-color: #eb0f0f;
}

.form-custom{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    background-color: #cdcdcd;
    border-radius: 0.3rem;
    padding: 2rem;
}

input[type="submit"]{
    border: none;
    color: #fff;
    border-radius: 0.3rem;
    background-color: #0c9155;
    padding: 0.4rem 2rem;
    margin: auto;
    transition: ease 0.3s;
}

input[type="submit"]:hover {
    background-color: #10b068;
    outline: 0.15rem solid #0c9155 ;
}
select{
    padding: 0.3rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}
select:focus{
    padding: 0.3rem;
    outline: 0.15rem solid #0c9155;
    border-radius: 0.3rem;
}
input{
    padding: 0.3rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}
input:focus{
    padding: 0.3rem;
    outline: 0.15rem solid #0c9155;
    border-radius: 0.3rem;
}
#project_year{
    width: 2rem;
}
#project_number{
    width: 3rem;
}
a {
    color: #0c9155;
    text-decoration: none;
    cursor: pointer;
}
.items-container{
    display: flex;
    flex-direction: column;
}

.universal-alert {
    position: fixed;
    top: 5rem; /* Distance du haut */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    min-width: 12rem;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    z-index: 1080;
    opacity: 0.1;
    transition: opacity 0.5s ease;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
}
.universal-alert.success {
    background-color: #0c9155;
}
.universal-alert.error {
    background-color: #c12c3b;
}
.universal-alert.info {
    background-color: #17a2b8;
}

input[type="checkbox"]:disabled{
    cursor: not-allowed;
}
