body {
    margin: 0;
    padding: 0;
}
.container{
    min-width: 55rem;
}
.py-4{
    display: flex;
    justify-content: center;
}
.container-page {
    background-color: #fff;
    padding: 1.25rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
.container-profile {
    background-color: #fff;
    padding: 1.25rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 3.125rem;
    max-width: 37.5rem;
    min-width: 25rem;
}
.min-width{
    min-width: 37.5rem;
}

.project{
    min-width: 90rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.information {
    margin-top: 0.625rem;
    color: #0c9155;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 11.25rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 0.313rem;
    padding: 0.313rem;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.85rem;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.313rem;
    border-width: 0.313rem;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*field container*/

.field-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.field-container span, .field-container input {
    flex: 1;

}
.field-container input {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    padding: 0;
    border: none;
    border-bottom: #ccc 2px solid;
}
.field-container input:focus {
    outline: none;
}
.field-container button {
    margin-right: 10px;
    border: none;
    cursor: pointer;
}


.logout{
    display: flex;
    margin: 0;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}

.logout input{
    width: 20rem;
    background-color: #be1212;
    transition: 0.4s ease;
    margin: 0;
    height: 3rem;
    margin: auto;
}
.logout input:hover{
    background-color: #eb0f0f;
}
